.idea*
cc/out*
cc/target*
cc/bin/*
cc/gen/*
cc/project.properties
.gradle
cc/Car-Cast.iml
cc/build.gradle
cc/build.properties
cc/local.properties
cc/.classpath
cc/.project
cc/.settings
build.gradle
settings.gradle
ccpro
robotium
otherAssets
.metadata
cc/ant.properties
