.idea*
cc/out*
cc/target*
cc/bin/*
cc/gen/*
.gradle
cc/Car-Cast.iml
cc/build.gradle
cc/build.properties
cc/local.properties
cc/default.properties
cc/.settings
build.gradle
settings.gradle
ccpro
robotium
otherAssets